# Database Configuration
HOST_DB=127.0.0.1
PORT_DB=5432
USERNAME_DB=postgres
PASSWORD_DB=your_secure_db_password
POSTGRES_DB=psa_db

# Drizzle ORM Connection String
DATABASE_URL="postgresql://postgres:your_secure_db_password@127.0.0.1:5432/psa_db"

# JWT Authentication
JWT_SECRET="your_secure_random_string_here_min_32_chars"

# Seed default password
SEED_DEFAULT_PASSWORD="your_secure_default_password"

# REDIS
REDIS_PASSWORD="your_secure_redis_password"
REDIS_URL="redis://:your_secure_redis_password@127.0.0.1:6379"

# MQTT Configuration
MQTT_HOST=127.0.0.1
MQTT_BROKER_URL=mqtt://127.0.0.1:1883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
